window{
    background-image: linear-gradient(to left, #fc5c7d, #6a82fb);
    color:black;
}

#quitBtn{
    background-image: linear-gradient(25deg,#ee4758,#ee4758 50%);
    color :white;
}

#settingBtn{
    background-image: linear-gradient(25deg,#808080 ,#808080  50%);
    color : white;
}

#page_slider{
    background-image: linear-gradient(to left, #FFFFFF, #FFFFFF);
}
