window{
    background-image: linear-gradient(to left, #fc5c7d, #6a82fb);
    color:lemonchiffon;
}

pageContainer{
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}

#forwardBtn, #backBtn, #newBtn, #quitBtn{
    background-color:red;
    color :aquamarine;
}

#page_slider{
    background-color:blue;
}